body {
    font-family: Arial, sans-serif;
    background: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);  
    height: 100vh;  
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #ffffff;
}
#taskList {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}
.task {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
}
form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #28a745;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}